<%= form_with model: @user, local: true do |f| %>

    <div class="label">
        <%= f.label :profile_picture %>
    </div>

    <div class="field">
        <div class="file">
            <label class="file-label">
                <%= f.file_field :profile_picture, class: "file-input", accept: "image/png, image/jpg, image/jpeg" %>
                <span class="file-cta">
                    <span class="file-icon">
                        <i class="fas fa-upload"></i>
                    </span>
                    <span class="file-label">
                        Choose an image...
                    </span>
                </span>
                <span class="file-name">
                    No file selected.
                </span>
            </label>
        </div>
    </div>

    <div class="field">
        <%= f.label :first_name, class: "label" %>
        <div class="control">
            <%= f.text_field :first_name, class: "input" %>
        </div>
    </div>

    <div class="field">
        <%= f.label :last_name, class: "label" %>
        <div class="control">
            <%= f.text_field :last_name, class: "input" %>
        </div>
    </div>

    <div class="field">
        <%= f.label :email, class: "label" %>
        <div class="control">
            <%= f.email_field :email, class: "input" %>
        </div>
    </div>

    <div class="field has-text-centered">
        <div class="control">
            <%= f.submit class: "button is-primary"%>
        </div>
    </div>
<% end %>

<%= javascript_pack_tag 'image_upload' %>