<section>
    <div class="columns">
        <div class="column mt-6">
            <div class="container box has-text-centered">
                <p class="title">Friends</p>

                <% @user.friends.each do |friend| %>
                    <a href="<%= user_path(friend.id) %>">
                        <div class="columns is-mobile is-centered">
                            <div class="column is-narrow">
                                <figure class="image is-64x64 level-item">
                                    <%= image_tag friend.primary_profile_picture, class: "is-rounded" %>
                                </figure>
                            </div>
                        </div>

                        <p class="mb-4"><%= friend.full_name %></p>
                    </a>
                <% end %>
            </div>
        </div>

        <div class="column">
            <div class="container box mt-6">
                <% if current_user.id == @user.id %>
                    <p class="title has-text-centered mb-6">My Profile</p>
                <% else %>
                    <p class="title has-text-centered mb-6"><%= @user.full_name %>'s Profile</p>
                <% end %>

                <!-- For Profile Picture Centering -->
                <div class="columns is-mobile is-centered">
                    <div class="column is-narrow">
                        <div class="container">
                            <% if @user.facebook_profile_picture %>
                                <figure class="image is-128x128">
                                    <img src="<%= @user.facebook_profile_picture %>" alt="profile picture" class="is-rounded">
                                </figure>
                            <% elsif @user.profile_picture.attached? %>
                                <figure class="image is-128x128">
                                    <%= image_tag(@user.profile_picture.variant(resize_to_fill: [128, 128]), class: "is-rounded") %>
                                </figure>
                            <% else %>
                                <figure class="image is-128x128">
                                    <img class="is-rounded" src="https://bulma.io/images/placeholders/128x128.png">
                                </figure>
                            <% end %>
                        </div>
                    </div>
                </div>

                <p class="has-text-centered is-size-5"><strong><%= @user.full_name %></strong></p>
                <p class="has-text-centered"><%= @user.email %></p>

                <% if @user.provider == "facebook" %>
                    <div class="columns is-mobile is-centered">
                        <div class="column is-narrow">
                            <span class="tag is-info is-centered">
                                <span class="icon">
                                    <i class="fab fa-facebook-square"></i>
                                </span>
                                <span>Linked with Facebook</span>
                            </span>
                        </div>
                    </div>
                    
                <% end %>

                <% if current_user.provider != "facebook" && current_user.id == @user.id %>
                    <%= render "users/form" %>
                <% end %>

                <% if current_user.provider == "facebook" && current_user.id == @user.id %>
                    <div class="notification">
                        <p>Whenever you update your Facebook profile, any changes will automatically carry over to your profile here.</p>
                    </div>
                <% end %>
            </div>
        </div>

        <div class="column mt-6">
            <div class="container has-text-centered">
                <div class="box">
                    <div class="title">Posts</div>

                    <% @user.posts.each do |post| %>
                        <div class="box">
                            <p class="subtitle"><%= post.body %></p>
                            <strong><%= distance_of_time_in_words(Time.now, post.created_at) %> ago.</strong>
                        </div>
                    <% end %>

                </div>
            </div>
            
        </div>
    </div> 
</section>


