<div class="container has-text-centered">
  <%= form_with(model: post, local: true) do |form| %>
    <% if post.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(post.errors.count, "error") %> prohibited this post from being saved:</h2>

        <ul>
          <% post.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <div>
      <%= form.text_area :body, class: "textarea", placeholder: "Exciting new posts are made here..." %>
    </div>

    <div class="field">
        <div class="file">
            <label class="file-label">
                <%= form.file_field :image, class: "file-input", accept: "image/png, image/jpg, image/jpeg" %>
                <span class="file-cta">
                    <span class="file-icon">
                        <i class="fas fa-upload"></i>
                    </span>
                    <span class="file-label">
                        Choose an image...
                    </span>
                </span>
                <span class="file-name">
                    No file selected.
                </span>
            </label>
        </div>
    </div>

    <div class="actions mt-5">
      <%= form.submit class: "button is-primary mb-4" %>
    </div>
  <% end %>
</div>
