<!DOCTYPE html>
<html>
  <head>
    <title>OdinFacebook</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script src="https://kit.fontawesome.com/729a72d977.js" crossorigin="anonymous"></script>
    <style><%= yield :stylesheets %></style>
  </head>

  <body>
    <nav class="navbar">
      <div class="navbar-brand">
        <% if user_signed_in? %>
          <a href="<%= authenticated_root_path %>" class="navbar-item">
            <p class="title">Odin Facebook</p>
          </a>
        <% else %>
          <a href="<%= unauthenticated_root_path %>" class="navbar-item">
            <p class="title">Odin Facebook</p>
          </a>
        <% end %>

        <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="navbar-links">
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
        </a>
      </div>
      <div id="navbar-links" class="navbar-menu">
        <div class="navbar-start">
          <a href="<%= posts_path %>" class="navbar-item">Explore</a>
          <a href="<%= my_feed_path %>" class="navbar-item">My Feed</a>
          <div class="navbar-item has-dropdown is-hoverable">
            <a href="" class="navbar-link">More</a>

            <div class="navbar-dropdown">
              <a href="" class="navbar-item">About</a>
            </div>
            
          </div>
        </div>
        <div class="navbar-end">
          <% if user_signed_in? %>
            <a href="<%= user_path(current_user) %>" class="navbar-item">
              <span class="icon"><i class="fas fa-user-circle"></i></span>
              <span>Profile</span>
            </a>
            <a href="<%= friends_path %>" class="navbar-item">
              <span class="icon"><i class="fas fa-user-friends"></i></span>
              <span>Friends</span>
            </a>
          
            <% if current_user.received_friend_requests.count > 0 %>
              <a href="<%= friend_requests_path %>" class="navbar-item has-text-info">
                  <span class="icon"><i class="fas fa-envelope"></i></span>
                  <span>Requests</span>
                  <span>(<%= current_user.received_friend_requests.count %>)</span>
              </a>
            <% else %>
              <a href="<%= friend_requests_path %>" class="navbar-item">
                  <span class="icon"><i class="fas fa-envelope"></i></span>
                  <span>Requests</span>
                  <span>(<%= current_user.received_friend_requests.count %>)</span>
              </a>
            <% end %>
          <% end %>
          
          <div class="navbar-item">
            <div class="buttons">
              <a href="<%= destroy_user_session_path %>"class="button is-primary" data-method="delete">
                <strong>Sign Out</strong>
              </a>
            </div>
          </div>
        </div>
      </div>
    </nav>
    <% if notice%>
      <div class="notification is-primary">
        <%= flash[:notice] %>
      </div>
    <% end %>
    <% if alert %>
      <div class="notification is-warning">
        <%= flash[:alert] %>
      </div>
    <% end %>
    <%= yield %>

    <%= javascript_pack_tag 'navbar_menu' %>
  </body>
</html>
